.author-pic {
    width: 300px;
    height: 300px;
    border-radius: 45%;
    object-fit: cover;
    flex-shrink: 0;
}

.settings-overlay {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 998;
}

.settings-overlay.show {
    opacity: 1;
    pointer-events: auto;
}

.settings-panel {
    position: fixed;
    top: 0;
    margin: 2px;
    right: -400px;
    width: 350px;
    height: 60vh;
    transition: right 0.3s ease;
    z-index: 999;
    border-radius: 12px 0 0 12px;
    overflow-y: auto;
}

.settings-panel.open {
    right: 0;
}